/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont;
}