.cards-container {
  display: flex;
  gap: 16px;
  padding: 16px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.searchbar-modern {
  --background: #f4f4f4;
  --border-radius: 20px;
  --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  margin: 16px;
}

